#home {
    background-image: url("../img/webdesign.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
}

#name {
    text-align: left;
    color:aliceblue;
    font-weight: lighter;
    font-size: xx-large;
}

#position {
    color:aliceblue;
    text-align: left;
    font-size: medium;
    font-weight: bolder;
}


#company {
    color:aliceblue;
    text-align: center;
    font-size:xx-large;
    font-weight: bolder;
    letter-spacing: 3px;
}

#experience {
    color:aliceblue;
    font-size: large;
    text-align: center;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:  10px;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-size: large;
}

#links {
    text-align: center;
    word-spacing: 10px;
}

#links a {
    color: white;
}

footer {
    padding: 15px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

#about {
    background-image: url("../img/webdesign2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
}

.about {
    padding: 50px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.me {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 480px) {
        img {
          width: 100%;
        }
      }
}

.info {
    padding: 50px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.info a {
    color: white;
}

.info a:hover {
    background-color: tan;
  }
.about p {
    text-align: left;
    word-spacing: 1px;
}