#home {

}

#about {
    background-image: url("../img/arch.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 300px;
    padding-bottom: 300px;
    margin: auto;
}

.about {
    padding: 50px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.me {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 480px) {
        img {
          width: 100%;
        }
      }
}

.info {
    padding: 50px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.info a {
    color: white;
}

.info a:hover {
    background-color: tan;
  }
.about p {
    text-align: left;
    word-spacing: 1px;
}