.homepage {
    background-image: url("../img/webdesign.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
}

.name {
    text-align: left;
    color:aliceblue;
    font-weight: lighter;
    font-size: xx-large;
}

.position {
    color:aliceblue;
    text-align: left;
    font-size: medium;
    font-weight: bolder;
}


.company {
    color:aliceblue;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.quote {
    color:aliceblue;
    font-size: large;
    text-align: center;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:  10px;
    background: rgba(0, 0, 0, 0.5);
    font-size: large;
}

.links {
    text-align: center;
    word-spacing: 10px;
}

.links a {
    color: white;
}

.links a:hover {
    background-color: lightblue;
    padding: 10px;
    border-radius: 15px 50px;
  }

.links {
    padding: 2px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

/* About Me Page */

.me {
    background-image: url("../img/webdesign2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.about {
    padding: 50px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.hakeem {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 480px) {
        img {
          width: 100%;
        }
      }
}

.info {
    padding: 50px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

.info a {
    text-align: center;
    color: white;
    word-spacing: 3px;
    letter-spacing: 3px;
    padding: 10px;
}

.info a:hover {
    background-color: lightblue;
    border-radius: 15px 50px;
  }
.about p {
    text-align: left;
    word-spacing: 5px;
    letter-spacing: 4px;
}

/* Resume Page */

body {
    background-image: url("../img/resume3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: absolute;
}

.resume {
    box-sizing: border-box;
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid rgb(20, 36, 208);
}

.body {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#head {
    text-align: left;
    margin: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.jobtitle {
    text-align: left;
    font-weight: bold;
}
#contactinfo {
    padding-left: 0px;
}
.bio {
   text-align: right;
}
.jobs {
    text-align: right;
}
.skills {
    text-align: left;
}
.cert {
    text-align: right;
}
.school {
    text-align: right;
}
.hobbies {
    text-align: right;
}
.avenue {
    text-align: center;
}